body {
    background-color: #fff;
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}
#music-video {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
}
div#title {
    color: white;
    font-weight: bold;
    font-family: 'Poiret One', cursive
;
}
div#problem-id {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#combo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#score-board div {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
div#score {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#speed {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#success {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#miss {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
div#problem-info {
    position: fixed;
    top: 50%;
}
div#caption {
    font-size: 3.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#problem {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
    margin: 10px;
}
