video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    background-color: white;
    opacity: 0.1;
    left: 20%;
    top: 10%;
    width: 60%;
}
