audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
html {
    background-color: white;
}
#popup-thumbnail {
    position: fixed !important;
    display: none;
    margin: 0 auto;
    left: 30%;
    width: 40%;
    top: 10%;
    opacity: 0.9;
}
#popup-thumbnail img,#popup-thumbnail video {
    padding: 5px;
    border: solid 5px;
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#popup-thumbnail audio {
    position: relative;
    bottom: 50px;
    max-width: 100%;
    max-height: 100%;
}
.select-btn-group {
    margin: 5px auto;
    width: 200px;
}
#play-btn {
    margin: 10px;
    display: inline;
}
#cancel-btn {
    margin: 10px;
    display: inline;
}
