body {
    background-color: #fff;
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}
#music-back {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
}
div#title {
    color: white;
    font-size: 5em;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Poiret One', cursive
;
}
div#musician {
    color: white;
    font-size: 3em;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Poiret One', cursive
;
}
div#game-status {
    position: static;
    float: right;
    margin-right: 10%;
}
div .board {
    position: static;
    float: bottom;
    margin-top: 20%;
    margin-right: 10%;
    margin-bottom: 10%;
}
div#problem-id {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
    margin-left: auto;
}
div#combo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#score {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#speed {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#success {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#miss {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#problem-info {
    position: fixed;
    bottom: 20%;
    left: 10%;
}
div#caption {
    font-size: 3.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#problem {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
    margin: 10px;
}
