audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
audio,video {
    width: 100%;
    padding: 5px;
    vertical-align: middle;
    z-index: 99;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
html {
    background-color: white;
}
#popup-thumbnail {
    position: fixed;
    position: absolute;
    width: 60%;
    height: 60%;
    bottom: 0;
    opacity: 0.9;
}
#popup-thumbnail video {
    max-height: 100%;
    max-width: 100%;
}
