#score-bar {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 2px;
    margin: 1px;
    margin-top: 5px;
    color: white;
}
#time-bar {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 2px;
    margin: 1px;
    margin-top: 5px;
    color: white;
}
#speed-gauge {
    opacity: 0.1;
}
#speed-gauge g.arc {
    fill: steelblue;
}
#speed-gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}
#speed-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}
body {
    background-color: #fff;
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}
.graph {
    width: 200px;
    height: 200px;
    position: static;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.typing-background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
}
.music-info {
    position: static;
    float: left;
    margin-top: 50px;
    width: 50%;
    font-weight: bold;
    font-family: 'Poiret One', cursive
    height: 200px;
}
.main-info {
    margin-left: 10%;
}
.score-table {
    font-color: white;
    font-size: 1.2em;
    margin-left: 10%;
}
.game-status {
    position: static;
    float: right;
    margin-left: 10%;
    margin-top: 70px;
    margin-right: 5%;
}
.graph-group {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 500px;
    height: 450px;
    background-color: #013257;
    opacity: 0.8;
}
.title {
    color: white;
    font-size: 4.5em;
    font-weight: bold;
    font-family: 'Poiret One', cursive
;
}
.sub-info {
    margin-left: 10%;
    font-size: 1.0em;
}
.score-table {
    margin-left: 20px;
    margin-top: 20px;
    font-color: white;
    margin-top: 100px;
}
.musician {
    color: white;
    font-size: 3em;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Poiret One', cursive
;
}
div .board {
    position: static;
    float: bottom;
    margin-right: 10%;
    margin-bottom: 10%;
}
#difficulty {
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 1px #999999;
}
.focus {
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
.unfocus {
    color: gray;
}
div#problem-id {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5%;
}
div#combo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#score {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#speed {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#success {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
div#miss {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 1px #999999;
}
.problem-info {
    position: fixed;
    bottom: 10%;
    width: 55%;
    left: 3%;
    background-color: #224422;
    opacity: 0.8;
}
#problem-display {
    margin-left: 5%;
}
.caption {
    font-size: 3.0em;
    font-weight: bold;
}
.ruby {
    font-size: 2.0em;
}
#tempo-mark {
    margin-left: 5%;
    font-size: 1.5em;
}
div#problem-raw {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px;
}
div #play-box {
    position: static;
    float: left;
    float: bottom;
    margin-top: 40%;
    margin-bottom: 10px;
}
.result {
    position: absolute;
    background-color: #fff;
    width: 60%;
    height: 0%;
    left: 20%;
    bottom: 10%;
    opacity: 0.7;
}
