video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
video {
    width: 100%;
    margin-top: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.thumbnail {
    width: 100%;
    min-height: 250px;
}
