video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
    z-index: 1;
}
.popup-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: gray;
    opacity: 0.9;
    z-index: 100;
}
