video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
