video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
video {
    width: 100%;
    vertical-align: middle;
}
img {
    width: 100%;
    vertical-align: middle;
}
.music-thumbnail {
    width: 100%;
    min-height: 250px;
    line-height: 250px;
}
.popup-thumbnail {
    position: absolute;
    height: 500px;
    background-color: gray;
    opacity: 0.9;
    width: 200 %;
}
